*.ammdb
*.bak
*.bpm
*.cdb
*.db_info
*.ddb
*.flock
*.hdb
*.hier_info
*.hif
*.hsd
*.html
*.idb
*incremental_db/
*.json
*.kpt
*.logdb
*.mif
*.nvd
*output_files/
*.qmsg
*.qns
*.qsys_edit
*.rdb
*.rpt
*.sci
*simulation/
*.tdb
*.tdf
*.tmw_info
*.txt
*.xml
